<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF8" />
        <title>Sports</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
    <body >


                <form th:action:"@{/sports}" method="GET" class="row" style="padding:30px">
                    <input class="form-control" type="text" name="filter" placeholder="Recherche par mot clé">
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </form>

            <div class="row d-flex justify-content-center" style="margin-top: 10px; "  >
                    <div class="card text-white bg-primary mb-3" style="width: 18rem;margin-left: 5px;" th:each="sport : ${sports}" >
                        <img class="card-img-top" th:src="${sport.icon}" style="height: 100px;" >
                        <div class="card-header"><span th:text="${sport.name}"></span></div>
                        <div class="card-body">
                        <p class="card-text"><span th:text="${sport.description}"></span></p>
                       
                       
                    </div>
                    <div class="card-footer bg-transparent " style="display:flex;justify-content: space-between;">
                        <button type="button" class="btn "><a th:href="@{'/sportDetails?' + ${sport.id}}">Modifier</a></button>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </div>
                    </div>
            </div>
            

            

        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </body>
</html>