<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/_layout">

<head>
    <title>Sports</title>

    <!-- CSS Resources/Static/Css/style.css-->
    <link rel="stylesheet" th:href="@{/css/sportDetails.css}" />
    
</head>

<body>
    <div class="mainSport">
        <div class="sportCard">
            <div class="sportIcon">
                <img th:src="${sport.icon}" />
            </div>
            <div class="sportTitle">
                <p th:text="${sport.name}" />
            </div>
            <div class="sportDescription">
                <form action="#" method="POST" th:object="${sport}">
                    <div>
                        <input type="checkbox" th:field="*{active}">
                        <label for="updateActive">Création d'évènements ?</label>
                    </div>
                    <div>
                        <button type="submit">Mettre à jour</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="eventDetails">
            <div class="sportEntities">
                <button th:if="${sport.nbEvents > 0}" onclick="getEvents('events')">Evenements</button>
                <button th:if="${sport.nbUsers > 0}" onclick="getEvents('users')">Utilisateurs</button>
            </div>
           <div id="details">

           </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
            var element = document.getElementById('details');
            var sportId = [[${sport.id}]];
            
        const getEvents = async (details) => {
            element.innerHTML = "";
            var myHeaders = new Headers();
            var myInit = {
                method: 'GET',
                headers: myHeaders,
                mode: 'cors',
                cache: 'default',
            };

            fetch(`/sports/${details}?id=${sportId}`, myInit)
                .then(res => res.text())
                .then(data => {
                    element.insertAdjacentHTML('beforeend',data)
                });

        }
        getEvents('events');
    </script>
</body>

</html>