<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF8" />
    <title>Sports</title>

    <!-- CSS Resources/Static/Css/style.css-->
    <link rel="stylesheet" th:href="@{/css/sports.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="sportMain">
        <form action="#" th:action:"@{/sports}" method="GET" th:object="${filters}" class="filters">
            <input class="form-control" type="text" th:field="*{name}"  placeholder="Nom">
            <input class="form-control" type="text" th:field="*{description}"  placeholder="Description">
            <button class="buttonSubmit" type="submit">Filtrer</button>
        </form>

        <div class="sportsContainer">
            <div class="sportCard" th:each="sport : ${sports}">
                <div class="sportCard-image "th:classappend="${sport.active} ? sportActive : sportInactive">
                   <a th:href="@{/sports/details(id=${sport.id})}"><img th:src="${sport.icon}"/></a> 
                </div>
                <div class="sportCard-nbEvents">
                    <p th:if="${sport.nbEvents > 0}" th:text="${sport.nbEvents + ' Evenements'}"/>
                    <p th:unless="${sport.nbEvents > 0}">Aucun évènement</p>

                </div>
                <div class="sportCard-body">
                    <div class="sportCard-title">
                        <h3 th:text="${sport.name}" />
                    </div>
                    <div class="sportCard-description">
                        <p th:text="${sport.description}" />
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</body>

</html>