<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/_layout"
>
  <head>
    <title>Mes informations</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Mes informations</h1>

      <p>Changez vos informations</p>
      <form th:action="@{update?id=}+${user.id}" th:object="${user}" method="post">
        <label for="firstName">Prénom : </label>
        <input type="text" name="firstName" id="firstName" minlength="2" maxlength="20" required th:value="${user.firstName}" />

        <label for="lastName">Nom : </label>
        <input type="text" name="lastName" id="lastName" minlength="2" maxlength="20" required th:value="${user.lastName}" />

        <label for="phone">Numéro de téléphone : </label>
        <input type="text" name="phone" id="phone" minlength="10" maxlength="10" th:value="${user.phone}" />

        <label for="pseudonym">Pseudo : </label>
        <input type="text" name="pseudonym" id="pseudonym" minlength="4" maxlength="10" required th:value="${user.pseudonym}">

        <label for="description">Description :  </label>
        <textarea name="description" id="description" cols="40" rows="5" minlength="20" maxlength="250" required th:value="${user.description}"></textarea>

        <input type="submit" value="Mettre à jour" />
      </form>
    </div>
  </body>
</html>
