<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/_layout"
>
  <head>
    <title>Liste des utilisateurs</title>
  </head>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body box-profile">
            <h3 class="font-weight-bolder text-info text-gradient">Liste des utilisateurs</h3>

            <table class="table">
              <thead>
              <tr>
                <th class="col-lg-1 text-primary"></th>
                <th class="col-lg-2 text-primary">Date d'inscription</th>
                <th class="col-lg-1 text-primary">Pseudo</th>
                <th class="col-lg-2 text-primary">Téléphone</th>
                <th class="col-lg-2 text-primary">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="user : ${users}">
                <td >
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img th:src="${user.getUrlAvatar()}" class="direct-chat-img" alt="user1">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-md" th:text="${user.firstName} + ' '+ ${user.lastName}"></h6>
                      <p class="text-xs text-secondary mb-0" th:text="${user.email}"></p>
                    </div>
                  </div>
                </td>
                <td th:text="${user.inscriptionDate}"></td>
                <td th:text="${user.pseudonym}"></td>
                <td th:text="${user.phone}"></td>
                <td>
                  <a th:href="@{'/users/update?id=' + ${user.id}}"
                  ><i class="far fa-edit"></i
                  ></a>
                  <a
                          style="color: rgb(255, 0, 0)"
                          th:href="@{users/delete/{id}(id=${user.id})}"
                  >
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</html>
