<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/_layout"
>
  <head>
    <title>Liste des utilisateurs</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Liste des utilisateurs</h1>

      <table>
        <tr th:each="user : ${users}">
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.inscriptionDate}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.pseudonym}"></td>
          <td th:text="${user.phone}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
