<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_layout">

<head>
    <title>Event</title>
    <!-- Date range picker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<html>

<div layout:fragment="content">


    <input type="text" name="datetimes" value="10/24/1984" />
    <div class="card mt-3">
        <div class="card-header text-left">
            <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
        </div>
        <div class="card-body">
            <form  action="#"  th:object="${eventDto}" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for='title' class="form-label"> Title: </label>
                            <input type='text' class="form-control" name='title' id='title'  placeholder="Password" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label >Select City</label>
                                <select class="form-control" name="localisation_Id">
                                    <option th:each="loca : ${listLocalisation}"
                                            th:value="${loca.id}"
                                            th:text="${loca.city}"  />
                                </select>
                            </div>
                            <div class="col-md-8">
                                <label> Address: </label>
                                <input type='text' class="form-control" name='place'>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label> Number of participants: </label>
                                <input type='text' class="form-control formt" name='nbPartnerMax' maxlength="2" onkeypress="return isNumber(event)" required />
                            </div>
                            <div class="col-md-4">
                                <label>Date Star :</label>
                                <input  type='text'  class="form-control" name="startTime" />
                            </div>
                            <div class="col-md-4">
                                <label> End Time: </label>
                                <input type='text' class="form-control" name='endTime' />

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label >Select Gender</label>
                                <select class="form-control" required name="flatGender">
                                    <option th:each="gender : ${listGender}"
                                            th:value="${gender.id}"
                                            th:text="${gender.name}"/>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label> Age Min: </label>
                                <input type='text' class="form-control" name='ageMin' maxlength="2" onkeypress="return isNumber(event)">
                            </div>
                            <div class="col-md-4">
                                <label> Age Max: </label>
                                <input type="text" class="form-control" name='ageMax' maxlength="2" onkeypress="return isNumber(event)">
                            </div>
                        </div>

                        <label> Detail: </label>
                        <textarea class="form-control" name='description' rows="2" maxlength="500"></textarea>

                        <!-- /.form group -->
                        <div class="text-right mt-3">
                           <input type="submit" value="Submit" class="btn btn-md btn-primary border-radius-sm"/>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <!--     <div class="mb-3">
                                <label>Select Sport</label>
                                <th:block th:each="sport : ${listSport}" >
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="sportIdaa" th:value="${sport.id}"/>
                                        <label class="form-check-label" th:text="${sport.name}"></label>
                                    </div>
                                </th:block>
                            </div>-->
                        <div class="mb-3">
                            <label>Select Sport</label>
                            <th:block th:each="mySport : ${listMySport}" >
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sport" th:value="${mySport.sport.id}" required/>
                                    <label class="form-check-label" th:text="${mySport.sport.name}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                </div>
            </form>
        </div>

    </div>



</div>
<body>
<!-- Date range picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script th:src="@{/js/eventadd.js}"></script>
</body>
</html>