<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_layout">

<head>
    <meta charset="UTF8" />
    <title>Event</title>
</head>

<div layout:fragment="content">

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">

                        <div class="card-body box-profile">

                            <div class="row">
                                <div class="col-lg-4 text-left">
                                    <a href="#" class="card-link ">
                                        <i class="fas fa-heart fa-2x text-purple"></i>
                                        <span class="text-lg text-muted">4 aimes</span>
                                    </a>
                                    <a href="#" class="card-link ">
                                        <i class="fas fa-comments fa-2x text-fuchsia"></i>
                                        <span class="text-lg text-muted">5 Comments</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 text-center">

                                    <img class="profile-user-img img-fluid img-circle" th:if="${event.sport.icon != null}" th:src="${event.sport.icon}"  alt="sport picture">

                                </div>
                                <div class="col-lg-4 text-right">
                                        <form  action="#" th:object="${event}" method="post"  th:if="${isExist}">
                                            <!--<a href="#" class="btn btn-md  bg-gradient-primary_flex  border-radius-xl mb-0 me-1 text-white" onclick="smoothToPricing('pricing-soft-ui')">Inscription</a>-->
                                            <input class="btn btn-md  bg-gradient-danger_flex  border-radius-xl mb-0 me-1 text-white" type="submit" value="Désinscrire" />
                                        </form>

                                            <form  action="#" th:object="${event}" method="post" th:unless="${isExist}">
                                            <!--<a href="#" class="btn btn-md  bg-gradient-primary_flex  border-radius-xl mb-0 me-1 text-white" onclick="smoothToPricing('pricing-soft-ui')">Inscription</a>-->
                                                <input class="btn btn-md  bg-gradient-success_flex  border-radius-xl mb-0 me-1 text-white" type="submit" value="Inscription" />
                                            </form>
                                 </div>

                            </div>

                            <h3 class="profile-username text-center" th:text="${event.title}" />
                            <p class="text-muted text-center">
                                <i class="fas fa-map-marker-alt mr-1" th:text="${event.localisation.getCountry()}"></i>
                                localization</p>
                            <p class="text-muted text-center" th:text="${event.place}">
                                <i class="fas fa-university mr-1"></i>
                                </p>
                            <hr>
                            <p class="text-muted text-center" th:text="${event.description}"></p>

                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-primary   font-weight-bolder opacity-7">Partner</th>
                                        <th class="text-primary  font-weight-bolder opacity-7 ps-2">Sport</th>
                                        <th class="text-primary  font-weight-bolder opacity-7 ps-2">Detail</th>
                                        <th class="text-primary text-center  opacity-7">Status</th>
                                        <th class="text-primary   text-center  font-weight-bolder opacity-7">Date Inscription</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="eventUser : ${listUserEvent}">
                                        <td >
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img th:src="${eventUser.user.getUrlAvatar()}" class="direct-chat-img" alt="user1">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-md" th:text="${eventUser.user.getFullName()}"></h6>
                                                    <p class="text-xs text-secondary mb-0" th:text="${eventUser.user.email}"></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle">

                                            <span class="text-md text-secondary">Tennis, Ciclisme</span>
                                        </td>
                                        <td class="align-middle">

                                            <span  class="text-md text-secondary"  th:text="${eventUser.user.description}" ></span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm bg-gradient-success_flex text-white">Online</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold" th:text="${eventUser.inscription}"></span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- /.content -->

</div>
</html>