<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/_layout">

<head>
    <meta charset="UTF8" />
    <title>Event</title>

    <script type="text/javascript"  >
        function removeCard(id) {
            var parentDOM = document.getElementById("remov-id"+id);
            parentDOM.remove()
            return false;
        }
    </script>

</head>

<div layout:fragment="content">
    <div class="row" >
                <!-- cart -->
                <div class="col-lg-4" th:id="'remov-id' + ${event.id}"  th:each="event : ${mylistEvent}">
                    <div th:switch="${event.getState()}">
                        <div th:case="'1'">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <a href="#" class="card-link text-purple text-left">
                                        <i class="fas fa-map-marked-alt" th:text="${event.localisation.getLocalisationFull()}"></i>
                                    </a>
                                       <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" th:onclick="|removeCard('${event.id}')|">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <h3 class="card-title text-bold" th:text="${event.sport.getName()}"></h3></br>
                                    <h4 class="card-title" th:text="${event.title}"> </h4>
                                    </br>
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" th:src="${event.user.getUrlAvatar()}" alt="user image">
                                        <span class="username"><a href="#" th:text="${event.user.getFullName()}"></a></span>
                                        <span class="description" th:text="${event.getInfoDateEventCreate}"></span>
                                    </div>

                                    <p class="card-text" th:text="${event.description}" />

                                    <p class="text-muted" th:text="${event.getInfoDateEvent()}"/>

                                     <a th:href="@{/backoffice/events/eventModify(id=${event.id})}" class="card-link text-blue btn-sm">MODIDY</a>
                                     <a th:href="@{/backoffice/events/eventDelete(id=${event.id})}" class="card-link text-red btn-sm ">DELETE</a>
                                     <a th:href="@{/backoffice/events/eventFinalize(id=${event.id})}" class="card-link text-green btn-sm float-right">FINALIZE</a>



                                </div>
                            </div>
                        </div>
                        <div th:case="'2'">
                            <div class="card card-secondary  card-outline" style="background-color:lightgray">
                                <div class="card-header">
                                    <a href="#" class="card-link text-purple text-left">
                                        <i class="fas fa-map-marked-alt" th:text="${event.localisation.getLocalisationFull()}"></i>
                                    </a>
                                    <!--<a href="#" class="card-link text-fuchsia">
                                        <i class="fas fa-comments"></i>
                                    </a>-->
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" th:onclick="|removeCard('${event.id}')|">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <h3 class="card-title text-bold" th:text="${event.sport.getName()}"></h3></br>
                                    <h4 class="card-title" th:text="${event.title}"> </h4>
                                    </br>
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" th:src="${event.user.getUrlAvatar()}" alt="user image">
                                        <span class="username"><a href="#" th:text="${event.user.getFullName()}"></a></span>
                                        <span class="description" th:text="${event.getInfoDateEventCreate}"></span>
                                    </div>

                                    <p class="card-text" th:text="${event.description}" />

                                    <p class="text-muted" th:text="${event.getInfoDateEvent()}"/>

                                    <a th:href="@{/backoffice/events/eventActive(id=${event.id})}" class="card-link text-green btn-sm float-right">ACTIVATE</a>

                                </div>
                            </div>
                        </div>
                     </div>

                 </div>
    </div>
</div>
<!-- /.content -->
</html>